input {
  border-radius: 50px !important;
}

span.actions a {
  display: inline-block;
  padding-right: 10px;
}

span.total {
  display: inline-block;
}

div#profile-table {
  max-height: 300px; 
  overflow: auto;
}

button.classic {
  border: 1px solid #ccc;
  border-radius: 14.9px;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

button.classic:hover {
  background-color: #ccc;
  color: white;
  transition: background-color 0.2s, color 0.2s;
}

button.danger {
  background-color: #3b0502 !important;
  border: 0px;
  border-radius: 14.9px;
  padding: 10px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

button.danger:hover {
  background-color: #8c3200 !important;
  transition: background-color 0.2s;
}