html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body, 
h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3 {
  font-family: 'Questrial', sans-serif;
}

h2.swal2-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

button.swal2-confirm {
  color: white !important;
}

div.uk-tooltip {
  background: #222;
  border-radius: 10px;
}